@import "../../../variables";

.home-container {
  p, h3 {
    font-family: harmoniaSansProCyrBold, serif;
  }
}

.home-image-container {
  position: relative;
}

.home-image {
  max-width: 100%;
  max-height: 100%;
}

.order-button-home-image {
  margin: auto;
  position: absolute;
  top: 200px;
  right: 0;
}

.order-button-home-quote {
  margin: auto;
  position: absolute;
  bottom: -20px;
  right: 0;
}

.about-us {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.home-text-title {
  margin: 0;
  text-transform: uppercase;
}

.home-text {
  line-height: 26px;
}

.text-columns {
  display: flex;
  justify-content: space-between;
}

.first-column, .second-column {
  flex: 1;
}

.first-column {
  margin-right: 100px;
}

.home-quote {
  position: relative;
}

@media (max-width: $tablet-width) {
  .text-columns {
    flex-direction: column;
  }

  .about-us {
    margin: 0;
    margin-top: 25px;
  }

  .first-column {
    margin: 0;
  }

  .order-button-home-quote, .order-button-home-image {
    right: 30px;
  }
}

