<app-header></app-header>
<div id="home" class="home-container">
  <div class="home-image-container">
    <img class="home-image" src="../../../assets/images/levi-front.jpg"/>
    <div class="order-button-home-image">
      <app-order-button textId="homeImage"></app-order-button>
    </div>
  </div>
  <div id="about" class="about-us">
    <h3 class="home-text-title">ons verhaal</h3>
    <div class="text-columns">
      <div class="first-column">
        <p class="home-text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          Ut wisi enim ad Poké Bowls, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
        </p>
      </div>
      <div class="second-column">
        <p class="home-text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
  <div class="home-quote">
    <div class="order-button-home-quote">
      <app-order-button textId="homeQuote"></app-order-button>
    </div>
    <app-quote></app-quote>
  </div>
</div>

