<app-header></app-header>
<div id="home" class="home-container">
  <div class="home-image-container">
    <img class="home-image" src="../../../assets/images/levi-front.jpg"/>
    <!--    <div class="order-button-home-image">-->
    <!--&lt;!&ndash;      <app-order-button textId="homeImage"></app-order-button>&ndash;&gt;-->
    <!--    </div>-->
  </div>
  <div id="about" class="about-us">
    <h3 class="home-text-title">ons verhaal</h3>
    <div class="text-columns">
      <div class="first-column">
        <p class="home-text">
          Levi Boot de eigenaar van Poké & Zo heeft jarenlang voor exclusieve restaurants gewerkt maar helaas moest in maart 2020 alle horeca sluiten.
          Levi kon thuis niet stil zitten en kreeg het idee om te beginnen met poké bowls, zo is hij één avond in de week dit gaan verkopen, vanuit zijn woonplaats Brielle.
          De reacties waren zo goed, dat Levi wist dat hij hier iets mee moest doen! Zo startte Levi Boot vorige jaar juni 2020 zijn eerste afhaal-en bezorgservice voor poké bowls: Poké & Zo in Oud-Beijerland. Zijn missie: iedereen kennis laten maken met zijn poké bowls.
          Dit is zo goed gegaan dat dit jaar alweer een tweede locatie heeft geopend en dat is in Hellevoetsluis!
        </p>
      </div>
      <div class="second-column">
        <p class="home-text">
          Levi werkt nu samen met zijn broer en nicht, het is net een familiebedrijf. Wij zijn met ze allen een jong en hecht team, willen dit ook doorgeven tot jij jouw bestelling aan de deur krijgt, wij hebben altijd sociale en vriendelijke bezorgers!
        </p>
      </div>
    </div>
  </div>
  <div class="home-quote">
    <!--    <div class="order-button-home-quote">-->
    <!--&lt;!&ndash;      <app-order-button textId="homeQuote"></app-order-button>&ndash;&gt;-->
    <!--    </div>-->
    <app-quote variant="small" description="Een poké bowl is het perfecte alternatief voor fastfood" author="Levi boot"></app-quote>
  </div>
</div>

