@import "../../../../variables";

.contact-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  color: $poke-white;
  background-color: $poke-green;
  font-family: harmoniaSansProCyrRegular, serif;
  font-size: 18px;

  span {
    letter-spacing: 2px;
    margin-top: 8px;
  }
}

.contact-info-container {
  display: flex;
  margin: 50px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-department {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.department-address {
  text-decoration: underline;
}

.social-media-icons-contact {
  margin-top: 10px;
}

.contact-details, .opening-times-container {
  flex: 1;
}

.opening-times-container {
  position: relative;
}

.opening-times-title, .department-name, .contact-follow-us-text {
  font-family: harmoniaSansProCyrBold, serif;
}

.opening-times-title {
  padding-bottom: 25px;
}

.opening-times {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.table-container {
  display: flex;
  justify-content: flex-end;
  table {
    margin-top: 10px;
  }

  td {
    margin-right: 10px;
    padding-bottom: 5px;
  }

  tbody:before {
    content: "-";
    display: block;
    line-height: 5px;
    color: transparent;
  }
}

.tdPadding {
  padding-right: 25px;
}

@media (max-width: $tablet-width) {
  .contact-info {
    position: relative;
    padding: 25px;
    flex-direction: column;
  }

  .opening-times {
    flex-direction: column;
    margin-top: 25px;
    position: relative;
  }
}

