<div class="contact-info">
  <div class="contact-details">
    <div class="contact-department">
      <span class="department-name">Oud-Beijerland</span>
      <span class="department-phone">Tel: 0186 685 562</span>
      <span class="department-address">Scheepmakershaven 2</span>
      <span class="department-zipcode">3261 kn</span>
    </div>
    <div class="contact-department">
      <span class="department-name">Hellevoetsuis</span>
      <span class="department-phone">Tel: 0181 442 245</span>
      <span class="department-address">Marconiweg 7</span>
      <span class="department-zipcode">3225 lv</span>
    </div>

    <div class="contact-follow-us">
      <span class="contact-follow-us-text">Volg ons op</span>
      <div class="social-media-icons-contact">
        <app-social-media-icon type="facebook"></app-social-media-icon>
        <app-social-media-icon type="instagram"></app-social-media-icon>
      </div>
    </div>
  </div>
  <div class="opening-times-container">
    <div class="opening-times">
      <div class="table-container">
        <table>
          <thead>
          <span class="opening-times-title">Openingstijden</span>
          </thead>
          <tr>
            <td class="tdPadding">Ma</td>
            <td>gesloten</td>
          </tr>
          <tr>
            <td class="tdPadding">di t/m za</td>
            <td>11:30 - 20:00</td>
          </tr>
          <tr>
            <td class="tdPadding">zo</td>
            <td>14:00 - 20.00</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
