@import "../../../../variables";

.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-order-button {
  position: absolute;
  top: -20px;
  right: 0;
}

.footer-columns {
  display: flex;
}

.footer-nav-items {
  margin-right: 50px;
}

.copy-right {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.copy-right-text {
  font-family: harmoniaSansProCyrBold, 'serif';
  letter-spacing: 3px;
  font-size: 14px;
}

@media (max-width: $tablet-width) {
  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-columns {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer-nav-items, .footer-social-items {
    margin: 0;
    text-align: center;

    ul {
      padding: 0;
    }
  }

  .copy-right-text {
    font-size: 12px;
  }

  .footer-order-button {
    right: 30px;
  }
}
