<div class="footer">
  <div class="footer-columns">
    <div class="footer-logo">
      <app-logo logoVariant="black"></app-logo>
    </div>
    <div class="footer-nav-items">
      <ul class="footer-list">
        <app-footer-item title="online bestellen" href="/order"></app-footer-item>
        <app-footer-item title="ons verhaal" href="about"></app-footer-item>
        <app-footer-item title="menu" href="menu"></app-footer-item>
        <app-footer-item title="contact" href="contact"></app-footer-item>
        <app-footer-item title="vacatures" href="vacancies"></app-footer-item>
      </ul>
    </div>
    <div class="footer-social-items">
      <ul class="footer-list">
        <app-footer-item title="volg ons op:"></app-footer-item>
        <app-footer-item title="facebook" href="facebook"></app-footer-item>
        <app-footer-item title="instagram" href="instagram"></app-footer-item>
      </ul>
    </div>
  </div>
</div>
