@import "../../../../variables";

.main-order-button {
  position: fixed;
  z-index: 100;
  right: 100px;
  top: 250px;
}

.order-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.order-text {
  color: $poke-green;
  font-family: harmoniaSansProCyrBold, 'serif';
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}

.order-button {
  font-family: harmoniaSansProCyrBold, 'serif';
  color: $poke-green;
  font-size: 16px;
  line-height: 0;
  text-transform: uppercase;
  animation: text-animation 15s infinite linear;
}

@keyframes text-animation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: $tablet-width) {
  .order-button {
    font-size: 9px;
  }

  .order-text {
    font-size: 12px;
  }

  .main-order-button {
    right: 60px;
    top: 100px;
  }
}
