<div class="contact-container">
  <div class="contact-first-row">
    <img class="saus-img" src="../../../assets/images/saus.jpg"/>
    <img class="bowl-img" src="../../../assets/images/pokebowl.jpg"/>
  </div>
  <div id="contact" class="contact-second-row">
    <div class="col1">
      <app-contact-info></app-contact-info>
    </div>
    <div class="col2">
      <app-maps></app-maps>
    </div>
  </div>
  <div class="contact-photo-container">
    <img class="contact-photo" src="../../../assets/images/contact-photo.jpg">
  </div>
</div>
