<div class="vacancy-contact">
  <div class="vacancy-title">
    <h1>Werken bij poke&zo</h1>
  </div>
  <div class="vacancy-content">
    <div class="vacancy-description">
    <span class="vacancy-description-text">Lijkt het je leuk om je bij ons team aan te sluiten?
      Of ben je een franchise ondernemer in de dop, en heb je affiniteit met ons concept?
    </span>
      <div class="vacancy-button">
        <app-button target="_blank" href="mailto:info@pokenzo.nl" variant="green" name="Mail ons"></app-button>
      </div>
    </div>
    <div class="vacancy-img-container">
      <img class="vacancy-img" src="../../../../assets/images/poke-vacancy.jpg">
    </div>
  </div>
</div>
