<div class="order-container">
  <div class="order-logo">
    <app-logo logoVariant="white"></app-logo>
  </div>

  <div *ngIf="!hasServiceSelected()" class="order-buttons">
    <app-button class="firstOrderBtn" (click)="setDeliver()" variant="green" name="Bezorgen"></app-button>
    <app-button class="secondOrderBtn" (click)="setPickup()" variant="whiteGreen" name="Afhalen"></app-button>
  </div>

  <div class="confirmation">
    <div class="confirmation-header">
      <h3>{{confirmationText}}</h3>
    </div>
    <div *ngIf="hasServiceSelected()" class="order-buttons">
      <app-button class="firstOrderBtn" variant="black" name="Oud-Beijerland" href="{{urlBeijerLand}}"></app-button>
      <app-button class="secondOrderBtn" variant="whiteDark" name="Hellevoetsluis" href="{{urlHellevoetsSluis}}"></app-button>
    </div>
  </div>
</div>
