@import "../../../variables";

.order-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(rgba(109,109,109,.75), rgba(0,0,0,.85)), url('./../../../assets/images/levi-order.jpg');
}

.order-logo {
  position: absolute;
  top: 0;
  left: 100px;
}

.order-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s, opacity 0.5s linear;
}

.order-buttons > * {
  min-width: 300px;
}

.firstOrderBtn {
  margin-right: 100px;
}

.confirmation-header {
  display: flex;
  justify-content: center;

  h3 {
    font-family: harmoniaSansProCyrBold;
    color: $poke-green;
    font-size: 40px;
  }
}

@media (max-width: $mobile-width) {
  .order-buttons {
    flex-direction: column;
  }

  .order-buttons > * {
    min-width: 200px;
    margin-right: 0;
    margin-bottom: 35px;
  }

  .order-logo {
    left: unset;
  }
}
