@import "../../../../variables";

.logo-container {
  width: 100px;
  flex: 1;
  margin-right: 100px;
  cursor: pointer;
}

.dark-backGround {
  background-color: $poke-dark;
  padding: 40px 10px 15px;
}
